{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <div class="card" style="width: auto; background: blue;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style=" background-color: #000fa6; color: #fff">
          ВЫ уверены что хотите удалить пост: {{ name }}</li>
        <li class="list-group-item text-center">
            <form method="post">
                <button name="del" value="yes">-----YES-----</button>
                <button name="del" value="no">-----NO------</button>
            </form>
        </li>

      </ul>
    </div><br>

{% endblock %}